<h3 class="ui header">{{t "forms.i-i-s-russkaya-zernovachya-kompaniya-заказ-e.caption"}}</h3>

<form class="ui form flexberry-vertical-form" role="form">
  {{flexberry-error error=error}}
  <div class="field">
    <div class="flexberry-edit-panel">
      {{#unless readonly}}
        <button class="ui button save-button" {{action "save"}}>
          {{t "forms.edit-form.save-button-text"}}
        </button>
        {{#unless model.isNew}}
          <button class="ui button save-del-button" {{action "delete"}}>
            {{t "forms.edit-form.delete-button-text"}}
          </button>
        {{/unless}}
      {{/unless}}
      <button class="ui button close-button" {{action "close"}}>
        {{t "forms.edit-form.close-button-text"}}
      </button>
    </div>
  </div>
  <div class="field flexberry-validationsummary-container">
    <div class="sixteen wide">
      {{flexberry-validationsummary errors=(v-get validationObject "messages")}}
    </div>
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-russkaya-zernovachya-kompaniya-заказ-e.датаОтгрузки-caption"}}</label>
    {{flexberry-simpledatetime
      type="date"
      readonly=readonly
      value=model.датаОтгрузки
      class=(if (v-get validationModel "датаОтгрузки" "isInvalid") "error")
      data-test-i-i-s-russkaya-zernovachya-kompaniya-заказ-e-датаОтгрузки=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "датаОтгрузки" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-russkaya-zernovachya-kompaniya-заказ-e.датаОплаты-caption"}}</label>
    {{flexberry-simpledatetime
      type="date"
      readonly=readonly
      value=model.датаОплаты
      class=(if (v-get validationModel "датаОплаты" "isInvalid") "error")
      data-test-i-i-s-russkaya-zernovachya-kompaniya-заказ-e-датаОплаты=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "датаОплаты" "message")}}
  </div>
  <div class="field" data-test-i-i-s-russkaya-zernovachya-kompaniya-заказ-e-состояние="true">
    <label>{{t "forms.i-i-s-russkaya-zernovachya-kompaniya-заказ-e.состояние-caption"}}</label>
    {{flexberry-dropdown
      items=(flexberry-enum "i-i-s-russkaya-zernovachya-kompaniya-сост-заказа")
      value=model.состояние
      class=(if (v-get validationModel "состояние" "isInvalid") "error")
      readonly=readonly
    }}
    {{flexberry-validationmessage error=(v-get validationModel "состояние" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-russkaya-zernovachya-kompaniya-заказ-e.ценаТовара-caption"}}</label>
    {{flexberry-lookup
      choose="showLookupDialog"
      remove="removeLookupValue"
      value=model.ценаТовара
      displayAttributeName="цена"
      autocomplete=true
      relationName="ценаТовара"
      projection="ЦенаТовараL"
      title=(t "forms.i-i-s-russkaya-zernovachya-kompaniya-заказ-e.ценаТовара-caption")
      readonly=readonly
      componentName="ценаТовараLookup"
      class=(if (v-get validationModel "ценаТовара" "isInvalid") "error")
      data-test-i-i-s-russkaya-zernovachya-kompaniya-заказ-e-ценаТовара=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "ценаТовара" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-russkaya-zernovachya-kompaniya-заказ-e.сотрудник-caption"}}</label>
    {{flexberry-lookup
      choose="showLookupDialog"
      remove="removeLookupValue"
      value=model.сотрудник
      displayAttributeName="emile"
      autocomplete=true
      relationName="сотрудник"
      projection="СотрудникL"
      title=(t "forms.i-i-s-russkaya-zernovachya-kompaniya-заказ-e.сотрудник-caption")
      readonly=readonly
      componentName="сотрудникLookup"
      class=(if (v-get validationModel "сотрудник" "isInvalid") "error")
      data-test-i-i-s-russkaya-zernovachya-kompaniya-заказ-e-сотрудник=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "сотрудник" "message")}}
  </div>
</form>
