<h3 class="ui header">{{t "forms.i-i-s-russkaya-zernovachya-kompaniya-цена-товара-e.caption"}}</h3>

<form class="ui form flexberry-vertical-form" role="form">
  {{flexberry-error error=error}}
  <div class="field">
    <div class="flexberry-edit-panel">
      {{#unless readonly}}
        <button class="ui button save-button" {{action "save"}}>
          {{t "forms.edit-form.save-button-text"}}
        </button>
        {{#unless model.isNew}}
          <button class="ui button save-del-button" {{action "delete"}}>
            {{t "forms.edit-form.delete-button-text"}}
          </button>
        {{/unless}}
      {{/unless}}
      <button class="ui button close-button" {{action "close"}}>
        {{t "forms.edit-form.close-button-text"}}
      </button>
    </div>
  </div>
  <div class="field flexberry-validationsummary-container">
    <div class="sixteen wide">
      {{flexberry-validationsummary errors=(v-get validationObject "messages")}}
    </div>
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.цена
      class=(if (v-get validationModel "цена" "isInvalid") "error")
      label=(t "forms.i-i-s-russkaya-zernovachya-kompaniya-цена-товара-e.цена-caption")
      data-test-i-i-s-russkaya-zernovachya-kompaniya-цена-товара-e-цена=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "цена" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-russkaya-zernovachya-kompaniya-цена-товара-e.датаНачала-caption"}}</label>
    {{flexberry-simpledatetime
      type="date"
      readonly=readonly
      value=model.датаНачала
      class=(if (v-get validationModel "датаНачала" "isInvalid") "error")
      data-test-i-i-s-russkaya-zernovachya-kompaniya-цена-товара-e-датаНачала=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "датаНачала" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-russkaya-zernovachya-kompaniya-цена-товара-e.датаОконч-caption"}}</label>
    {{flexberry-simpledatetime
      type="date"
      readonly=readonly
      value=model.датаОконч
      class=(if (v-get validationModel "датаОконч" "isInvalid") "error")
      data-test-i-i-s-russkaya-zernovachya-kompaniya-цена-товара-e-датаОконч=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "датаОконч" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-russkaya-zernovachya-kompaniya-цена-товара-e.товар-caption"}}</label>
    {{flexberry-lookup
      choose="showLookupDialog"
      remove="removeLookupValue"
      value=model.товар
      displayAttributeName="описание"
      autocomplete=true
      relationName="товар"
      projection="ТоварL"
      title=(t "forms.i-i-s-russkaya-zernovachya-kompaniya-цена-товара-e.товар-caption")
      readonly=readonly
      componentName="товарLookup"
      class=(if (v-get validationModel "товар" "isInvalid") "error")
      data-test-i-i-s-russkaya-zernovachya-kompaniya-цена-товара-e-товар=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "товар" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-russkaya-zernovachya-kompaniya-цена-товара-e.тЧСчФактуры-caption"}}</label>
    {{flexberry-lookup
      choose="showLookupDialog"
      remove="removeLookupValue"
      value=model.тЧСчФактуры
      displayAttributeName="количество"
      autocomplete=true
      relationName="тЧСчФактуры"
      projection="ТЧСчФактурыL"
      title=(t "forms.i-i-s-russkaya-zernovachya-kompaniya-цена-товара-e.тЧСчФактуры-caption")
      readonly=readonly
      componentName="тЧСчФактурыLookup"
      class=(if (v-get validationModel "тЧСчФактуры" "isInvalid") "error")
      data-test-i-i-s-russkaya-zernovachya-kompaniya-цена-товара-e-тЧСчФактуры=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "тЧСчФактуры" "message")}}
  </div>
</form>
